extends layout

block content
    h1(class="text-3xl font-medium mb-2")= title    
    p 
        | This is an example site to demonstrate how to use 
        a(class="underline" href="https://expressjs.com/") Express
        |  with 
        a(class="underline" href="https://authjs.dev/reference/express") Express Auth
        |  for authentication. 