extends layout

block content
  if session
    h1(class="text-3xl font-medium mb-2") Protected page
    p
      | This is a protected content. You can access this content because you are
      | signed in.
    p Session expiry: #{session.expires ? session.expires : ''}
  else
    h1(class="text-3xl font-medium mb-2") Access Denied
    p
      | You must be 
      a(class="underline" href="/api/auth/signin") signed in
      |  to view this page
